/* კომბინატორები */
*{
    font-size: 25px;
}


.h1,  .h2{
    color:red;
}
/* დივში პი */
div p{
    /* color:grey; */
}

/* p რომელიც მხოლოდ ამ დივშია */
div > p {
color:#96808f;
}

div + p{
    /* დივის შემდეგრაც პია */
}
 
