
/* media მოთხოვნები რისპონსივი */


.c{
    width: 800px;
    height: 200px;
    background-color: cyan;
}


@media (max-width:826px){
    .c{
        /* მოერგოს */
        width: 95%;
        background-color: red;
    }
}