/* margin padding */

.a {
  /* ნებისმიერ ადგილას */
  position: absolute;
  /* 
  fixed -  სროლის დროს არიცვლის პოზიციას
  relative - ნორმალური პოზიცია
  */


  width: 100px;
  height: 100px;
  border: 1px solid black;

}
